$dataColor: yellow;

body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 1rem;

	.App {

		h1 {
			margin: 0 0 2rem 0;
		}

		main {
			display: flex;
			gap: 1rem;


			section.displayArea {
				width: 30rem;

				div.learnCard {
					background-color: #222;
					padding: 1rem;
					margin-bottom: 1rem;
					border-radius: .5rem;

					div.front {
						color: #aaa;
						cursor: pointer;
					}
					div.back {
						margin-top: .5rem;
						color: lightgreen;
					}
				}

			}

			section.dataArea {
				h2 {
					margin: 0 0 1rem 0;
				}

				.importBox {
					background-color: #777;
					padding: 1rem;
					width: 28rem;
					border-radius: 1rem;
					color: #222;

					label {
						font-weight: bold;
					}

					.theValue {
						color: $dataColor;
					}

					div.row {
						margin: 0 0 .5rem 0;

						ul {
							margin: .5rem 0 0 -.5rem;

							li {
								color: $dataColor;
							}
						}

						.spinner {
							font-size: 2rem;
							color: #444;
							animation: spin infinite 2s linear;
						}

						@keyframes spin {
							from {
								transform: rotate(0deg);
							}

							to {
								transform: rotate(360deg);
							}
						}
					}
				}
			}
		}
	}
}